# Multiple Tables

### Introduction

Now so far in our journey through SQL we've worked with a single table.  We can say that we've focused on single table queries.  In this table we'll see what it's like to work with a project that has multiple tables, and how we can see the relationships between entities in different tables.

### Loading our data

Let's imagine that we are working with a dataset of top albums as determined by billboard.  Here, our data is loaded into a database called `billboard-200.db`, which we then connect to.

```python
import sqlite3
conn = sqlite3.connect('./billboard-200.db')
cursor = conn.cursor()
```

Now if we take a look at the top albums, we would see something like the following.

```python
cursor.execute('PRAGMA table_info(albums);')
cursor.fetchall()

# [(0, 'id', 'integer', 0, None, 1),
#  (1, 'date', 'text', 0, None, 0),
#  (2, 'artist', 'text', 0, None, 0),
#  (3, 'album', 'text', 0, None, 0),
#  (4, 'rank', 'text', 0, None, 0),
#  (5, 'length', 'integer', 0, None, 0),
#  (6, 'track_length', 'real', 0, None, 0)]

```

So we can see that in the albums table there are the columns above.  Now the columns in the albums table look innocent enough, but trouble could be looming.

For example, we have the artist name listed in the albums table.  But notice that each time we store an album by the same artist, we have to repeat that artist's name.  This is violating our Don't Repeat Yourself rule.  Here, it means that if we ever wanted to change the Artist's name, we would have to change this information in multiple places.

It's best to create a separate table reserved for attributes directly about the artist.  Let's see how.

### Solving our Problem

So we can start by creating a separate artists table that looks like the following.

`artists`

| id        | name           | 
| ------------- |:-------------:| 
| 1               |Prince | 
| 2      | Paul Simon      |

Then to link the information `artists` table with our `albums` table, we set up our albums table like so.

| id| date    | rank| length| track_length | artist_id | album
| --|:-------:| ----|-------| --------------| -------| ------|
144 | '2019-01-19'|'143' | 17 | 256500 | 1| The Very Best Of Prince
17155| '2017-06-03'| '154'| 40| 233901| 1|  '4Ever' 
6269 | '2016-07-16' | '68'| 11 | 202174.0 | 2| 'Stranger To Stranger'

The most important component is the `artist_id` column.  We can see that the `artist_id` is what tells us what information to look at on the artists table.  So for example, if we want to see who wrote the second album listed -- '4Ever', we look at the `artist_id`, which is `1` and then go to the artists table, to see the artist with an id of 1, Prince. 


> The `artist_id` column is referred to as a foreign key, or foreign id, because it refers to a number that is foreign to the current table of albums.  Here, our `artist_id` column in the albums table refers to the `id` on the `artists` table.

### Describing Relationships

Finally, let's take a moment to describe the relationship between albums and artists.  

We say that
* an artist `has many` albums, and
* an album `has one` artist.

> Take a moment to appreciate why this makes sense.

In a `has one` to `has many` relationship, the foreign key always goes on the table that `has one`.  So a album has one artist, and the albums table gets the foreign key.  

`albums`

| id| date    | rank| length| track_length | artist_id | title
| --|:-------:| ----|-------| --------------| -------| ------|
144 | '2019-01-19'|'143' | 17 | 256500 | 1| The Very Best Of Prince
17155| '2017-06-03'| '154'| 40| 233901| 1|  '4Ever' 
6269 | '2016-07-16' | '68'| 11 | 202174.0 | 2| 'Stranger To Stranger'

The reason why is because if we placed the foreign key on the has_many table, here artists, we would have to add multiple albums for a single row of an artist.

`artists`

| id        | name           | album_id| album_id|
| ------------- |:-------------:| :-----:| :-----:| 
| 1               |Prince | 1| 2|
| 2      | Paul Simon  |   3| _ |

And it is impossible for us to know how many album_ids we would need for a single artist.  So by putting the foreign_key on the albums table, we can avoid this, as an album has_one artist.

### Summary

In this lesson, we learned about how to structure a has many has one relationship.  We do so by storing the foreign key on the table with the has one relationship.  For example, if song `has_one` album, the song table has a foreign key of `album_id`.

### Additional Resources

[music story](http://developers.music-story.com/developers/artist)