# Has Many Movie Lab

### Introduction
In this lab we will continue to look at the "Has-Many" relationships in our data. The database we will be using during this lab contains information about a selection of movies and related entities such as actors, directors and writers. A movie entity will have relationships with actor, director, and writer entities. The actors, directors and writers will also have relationships with themselves (i.e. a director will have worked with many actors). In problems below, we will use our knowledge of these relationships to build SQL queries.

Let's begin by connecting to the database and reviewing the schema of the tables.

In [1]:
import sqlite3
conn = sqlite3.connect('films.db')
cursor = conn.cursor()

In [2]:
cursor.execute('SELECT name from sqlite_master where type= "table"')
cursor.fetchall()

[('actors',),
 ('directors',),
 ('writers',),
 ('movies',),
 ('movie_actors',),
 ('movie_directors',),
 ('movie_writers',)]

In [3]:
cursor.execute('PRAGMA table_info(movies)')
cursor.fetchall()

[(0, 'id', 'INT', 0, None, 0),
 (1, 'title', 'TEXT', 0, None, 0),
 (2, 'studio', 'TEXT', 0, None, 0),
 (3, 'runtime', 'REAL', 0, None, 0),
 (4, 'description', 'TEXT', 0, None, 0),
 (5, 'release_date', 'NUM', 0, None, 0),
 (6, 'year', 'INT', 0, None, 0)]

In [4]:
cursor.execute('PRAGMA table_info(actors)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'name', 'TEXT', 0, None, 0)]

In [5]:
cursor.execute('PRAGMA table_info(directors)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'name', 'TEXT', 0, None, 0)]

In [6]:
cursor.execute('PRAGMA table_info(writers)')
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 0), (1, 'name', 'TEXT', 0, None, 0)]

In [7]:
cursor.execute('PRAGMA table_info(movie_actors)')
cursor.fetchall()

[(0, 'id', 'INT', 0, None, 0),
 (1, 'movie_id', 'TEXT', 0, None, 0),
 (2, 'actor_id', 'TEXT', 0, None, 0)]

In [8]:
cursor.execute('PRAGMA table_info(movie_directors)')
cursor.fetchall()

[(0, 'id', 'INT', 0, None, 0),
 (1, 'movie_id', 'INT', 0, None, 0),
 (2, 'director_id', 'INT', 0, None, 0)]

In [9]:
cursor.execute('PRAGMA table_info(movie_writers)')
cursor.fetchall()

[(0, 'id', 'INT', 0, None, 0),
 (1, 'movie_id', 'INT', 0, None, 0),
 (2, 'writer_id', 'INT', 0, None, 0)]

### Questions

Let's start off with some basic one table queries:

* What is the title, runtime, and id of the movie with the longest runtime?

In [10]:
cursor.execute("""
SELECT title,
       runtime,
       id
  FROM movies
 ORDER BY runtime DESC
 LIMIT 1;
""")
cursor.fetchall()

[('Never Sleep Again: The Elm Street Legacy', 480.0, 11415)]

* Using your answer from the previous question, how many actors were credited for the movie with the longest runtime? Hint: Use the COUNT function with the movie ID

In [11]:
cursor.execute("""
SELECT COUNT( * ) 
  FROM movie_actors
 WHERE movie_id = 480;

""")
cursor.fetchall()

[(6,)]

* What was the shortest movie released in 2006?

In [31]:
cursor.execute("""
SELECT title
  FROM movies
 WHERE year = 2006
 ORDER BY runtime
 LIMIT 1;
""")
cursor.fetchall()

[('The Guardian',)]

### Has Many

* What are the names of the actors in Toy Story? (movie ID is 3648)

In [13]:
cursor.execute("""
SELECT a.name
  FROM movie_actors AS ma
       JOIN
       actors AS a ON ma.actor_id = a.id
 WHERE ma.movie_id = 3648;
""")
cursor.fetchall()

[('Tom Hanks',),
 ('Jim Varney',),
 ('Wallace Shawn',),
 ('Don Rickles',),
 ('John Ratzenberger',),
 ('Tim Allen',)]

* What is the name of the director of Toy Story?

In [14]:
cursor.execute("""
SELECT d.name
  FROM movie_directors AS md
       JOIN
       directors AS d ON md.director_id = d.id
 WHERE md.movie_id = 3648;
""")
cursor.fetchall()

[('John Lasseter',)]

* What are the names of the writers of Toy Story?

In [15]:
cursor.execute("""
SELECT w.name
  FROM movie_writers AS mw
       JOIN
       writers AS w ON mw.writer_id = w.id
 WHERE mw.movie_id = 3648;
""")
cursor.fetchall()

[('Joss Whedon',), ('Joel Cohen',), ('Andrew Stanton',), ('Alec Sokolow',)]

* What is the name and actor id of the actor with the most credits in the database?

In [16]:
cursor.execute("""
SELECT a.name,
       a.id,
       COUNT( * ) 
  FROM movie_actors AS ma
       JOIN
       actors a ON ma.actor_id = a.id
 GROUP BY ma.actor_id
 ORDER BY COUNT( * ) DESC
 LIMIT 1;
""")
cursor.fetchall()

[('Robert De Niro', 429, 78)]

* What are the titles of the movies the actor from the previous question has been in, after the year 2005?

In [17]:
cursor.execute("""
SELECT m.title
  FROM movie_actors AS ma
       JOIN
       movies AS m ON ma.movie_id = m.id
 WHERE ma.actor_id = 429 AND 
       m.year > 2005;
""")
cursor.fetchall()

[("New Year's Eve",),
 ('Mr. Warmth: The Don Rickles Project',),
 ('Hands of Stone',),
 ('Last Vegas',),
 ('I Knew It Was You: Rediscovering John Cazale',),
 ('Stardust',),
 ('Killer Elite',),
 ("Everybody's Fine",),
 ('Stone',),
 ('Machete',),
 ('Red Lights',),
 ('Righteous Kill',),
 ('The Good Shepherd',),
 ('The Bag Man',),
 ('Being Flynn',),
 ('Joy',),
 ('The Wizard of Lies',),
 ('Limitless',),
 ('Killing Season',),
 ('The Family',),
 ('Heist',),
 ('Great Expectations',),
 ('Little Fockers',),
 ('What Just Happened?',),
 ('The Comedian',),
 ('The Big Wedding',),
 ('Dirty Grandpa',),
 ('Grudge Match',)]

* What are the titles of movies with more than two directors order by title ascending and limit to the first five results?

In [33]:
cursor.execute("""
SELECT m.title
  FROM movie_directors AS md
       JOIN
       movies AS m ON md.movie_id = m.id
 GROUP BY m.id
HAVING COUNT( * ) > 2 order by title limit 5;
""")
cursor.fetchall()

[('101 Dalmatians',),
 ('11/8/2016',),
 ('A Crude Awakening: The Oil Crash',),
 ('A Farewell To Arms',),
 ("A Liar's Autobiography - The Untrue Story of Monty Python's Graham Chapman",)]

### Has Many Through

* What is the name of the writer in the database that has been credited the most times during the year 2018?

In [19]:
cursor.execute("""
SELECT w.name,
       count( * ) 
  FROM movie_writers AS mw
       JOIN
       writers AS w ON mw.writer_id = w.id
       JOIN
       movies AS m ON mw.movie_id = m.id
 WHERE m.year = 2018
 GROUP BY w.id
 ORDER BY count( * ) DESC LIMIT 1;
""")
cursor.fetchall()

[('Ryan Engle', 3)]

* What is the name of the actor or actress in the database that has been credited the most between 2010 and 2015 (inclusive)?

In [20]:
cursor.execute("""
SELECT a.name,
       count( * ) 
  FROM movie_actors AS ma
       JOIN
       actors AS a ON ma.actor_id = a.id
       JOIN
       movies AS m ON ma.movie_id = m.id
 WHERE m.year >= 2010 AND m.year <= 2015
 GROUP BY a.id
 ORDER BY count( * ) DESC LIMIT 1;
""")
cursor.fetchall()

[('James Franco', 22)]

* What are the names of all actors who performed in more than 3 movies in 2010?

In [21]:
cursor.execute("""
SELECT a.name
  FROM movie_actors AS ma
       JOIN
       movies AS m ON ma.movie_id = m.id
       JOIN
       actors AS a ON ma.actor_id = a.id
   WHERE m.year = 2010
   GROUP BY a.name
   HAVING COUNT(*) > 3;
""")
cursor.fetchall()

[('Aaron Taylor-Johnson',),
 ('Adam Scott',),
 ('Barry Pepper',),
 ('Ben Stiller',),
 ('Danny Huston',),
 ('Gemma Arterton',),
 ('Helen Mirren',),
 ('Jay Baruchel',),
 ('Jessica Alba',),
 ('Jonah Hill',),
 ('Josh Brolin',),
 ('Josh Duhamel',),
 ('Keith David',),
 ('Liam Neeson',),
 ('Matt Damon',),
 ('Melissa Leo',),
 ('Patricia Clarkson',),
 ('Pierce Brosnan',),
 ('Ralph Fiennes',),
 ('Susan Sarandon',),
 ('Zach Galifianakis',)]

* What studio has Steven Spielberg worked with the most?

In [22]:
cursor.execute("""
SELECT m.studio,
       COUNT( * ) 
  FROM movie_directors AS md
       JOIN
       movies AS m ON md.movie_id = m.id
       JOIN
       directors AS d ON md.director_id = d.id
 WHERE d.name = "Steven Spielberg"
 GROUP BY m.studio
 ORDER BY COUNT( * ) DESC
 LIMIT 1;
""")
cursor.fetchall()

[('Universal Pictures', 7)]

* What years did Steven Spielberg direct 2 movies?

In [23]:
cursor.execute("""
SELECT m.year,
       COUNT( * ) 
  FROM movie_directors AS md
       JOIN
       movies AS m ON md.movie_id = m.id
       JOIN
       directors AS d ON md.director_id = d.id
 WHERE d.name = "Steven Spielberg"
 GROUP BY m.year
 HAVING COUNT(*) = 2;
""")
cursor.fetchall()

[(1989, 2), (1993, 2), (1997, 2), (2002, 2), (2005, 2), (2011, 2), (2018, 2)]

* How many movies has each of the actors from Toy Story been in? (movie ID is 3648)

In [24]:
cursor.execute("""
SELECT c.name,
       COUNT( * ) 
  FROM (
           SELECT actor_id
             FROM movie_actors
            WHERE movie_id = 3648
       )
       AS a
       JOIN
       movie_actors AS b ON a.actor_id = b.actor_id
       JOIN
       actors c ON a.actor_id = c.id
 GROUP BY a.actor_id;
""")
cursor.fetchall()

[('Tom Hanks', 46),
 ('Jim Varney', 8),
 ('Wallace Shawn', 27),
 ('Don Rickles', 10),
 ('John Ratzenberger', 7),
 ('Tim Allen', 20)]

* What are the names of other movies the director of Toy Story directed? (movie ID is 3648)

In [25]:
cursor.execute("""
SELECT title 
  FROM (
           SELECT director_id
             FROM movie_directors
            WHERE movie_id = 3648
       )
       AS a
       JOIN
       movie_directors AS b ON a.director_id = b.director_id
       JOIN
       movies c ON b.movie_id = c.id;
""")
cursor.fetchall()

[('Cars 2',), ('Cars',), ("A Bug's Life",), ('Toy Story 2',), ('Toy Story',)]

* What are the names of all the directors Tom Hanks has worked with? (actor id 189)

In [26]:
cursor.execute("""
SELECT DISTINCT c.name 
  FROM (
           SELECT movie_id
             FROM movie_actors
            WHERE actor_id = 189
       )
       AS a
       JOIN
       movie_directors AS b ON a.movie_id = b.movie_id
       JOIN
       directors c ON b.director_id = c.id;
""")
cursor.fetchall()

[('Robert Zemeckis',),
 ('Tom Hanks',),
 ('Penny Marshall',),
 ('Chris Paine',),
 ('Doug Nichol',),
 ('Steven Spielberg',),
 ('Tom Tykwer',),
 ('Sam Mendes',),
 ('Steve Purcell (II)',),
 ('Nora Ephron',),
 ('Paul Greengrass',),
 ('Ron Howard',),
 ('Stephen Daldry',),
 ('James Ponsoldt',),
 ('Frank Darabont',),
 ('David Seltzer',),
 ('Meg Ryan',),
 ('Lana Wachowski',),
 ('Lilly Wachowski',),
 ('Dario Argento',),
 ('Angus MacLane',),
 ('Clint Eastwood',),
 ('Lee Unkrich',),
 ('John Lasseter',),
 ('Joel Coen',),
 ('Alexander Mackendrick',),
 ('Ethan Coen',),
 ('Tom Mankiewicz',),
 ('Stan Dragoti',),
 ('Mike Nichols',),
 ('Kevin Pollak',),
 ('Roger Spottiswoode',),
 ('Joe Dante',),
 ('John Patrick Shanley',),
 ('Garry Marshall',),
 ('John Lee Hancock',),
 ('Brian DePalma',)]

* What is the name of the director Tom Hanks has worked with the most?

In [27]:
cursor.execute("""
SELECT c.name, COUNT(*) 
  FROM (
           SELECT movie_id
             FROM movie_actors
            WHERE actor_id = 189
       )
       AS a
       JOIN
       movie_directors AS b ON a.movie_id = b.movie_id
       JOIN
       directors c ON b.director_id = c.id
    GROUP BY c.name
    ORDER BY COUNT(*) DESC LIMIT 1;
""")
cursor.fetchall()

[('Steven Spielberg', 5)]

* What are the names of all the writers Tom Hanks has worked with?

In [30]:
cursor.execute("""
SELECT DISTINCT c.name 
  FROM (
           SELECT movie_id
             FROM movie_actors
            WHERE actor_id = 189
       )
       AS a
       JOIN
       movie_writers AS b ON a.movie_id = b.movie_id
       JOIN
       writers c ON b.writer_id = c.id limit 10;
""")
cursor.fetchall()

[('Eric Roth',),
 ('Nia Vardalos',),
 ('Tom Hanks',),
 ('Gary Ross',),
 ('Anne Spielberg',),
 ('Chris Paine',),
 ('Scott Frank',),
 ('Robert Rodat',),
 ('Frank Darabont',),
 ('Tom Tykwer',)]