# Moe's Bar Lab

### Introduction

In this lesson, we'll apply our knowlwedge of querying tables with has many through to ask questions of customers and bartenders at a bar.

### Loading Our Data

Create a new file called `moes_bar.sql` and then copy and paste the below into the file.

Make sure that you only copied the contents above and nothing else.

Once you have copied the SQL statements above, then run the following to create the database, and execute the code.

Then we can connect to our database with the following.

In [5]:
import sqlite3
conn = sqlite3.connect('./moes_bar.db')
cursor = conn.cursor()

In [12]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

[('bartenders',),
 ('customers',),
 ('drinks',),
 ('orders',),
 ('ingredients',),
 ('ingredients_drinks',)]

Next we load our data.

In [5]:
import pandas as pd
root_url = "https://raw.githubusercontent.com/jigsawlabs-student/mod-1-sql-curriculum/master/2-sql-relations/5-has-many-through-bar/"
names = ['bartenders', 'customers', 'drinks', 'orders', 'ingredients', 'ingredients_drinks']
loaded_dfs = [pd.read_csv(f'{root_url}{name}.csv') for name in names]

In [26]:
for index, name in enumerate(names):
    loaded_dfs[index].to_sql(f'{name}', conn, index = False)

### Exploring our Database

Now we list of all of the tables with the following.

In [5]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
cursor.fetchall()

And then we can see the details of a particular table with the following.

In [28]:
cursor.execute("pragma table_info(customers)")
cursor.fetchall()

[(0, 'id', 'INTEGER', 0, None, 1),
 (1, 'name', 'TEXT', 0, None, 0),
 (2, 'hometown', 'TEXT', 0, None, 0),
 (3, 'birthyear', 'INTEGER', 0, None, 0)]

### Making our queries

* Find the name of the youngest customer

In [23]:
youngest_customer = None

# cursor.execute(youngest_customer)
# cursor.fetchall()
# # [('lisa simpson', 2006)]

* Order the drinks from most to least expensive

In [24]:
cheapest_drinks = None

# cursor.execute(cheapest_drinks)
# cursor.fetchall()
# [('ice cream float', 8),
#  ('duff beer', 7),
#  ('gin and tonic', 7),
#  ('rootbeer', 6),
#  ('milkshake', 5),
#  ('egg cream soda', 3)]

* Find the most expensive drink that bart simpson ordered

In [26]:
# barts_orders = None

# cursor.execute()
# cursor.fetchall()
# [('milkshake', 5)]

* Find a list of all of the customers of moe

In [27]:
# moes_customers = None

# cursor.execute(moes_customers)
# cursor.fetchall()
# [('bart simpson',), ('maggie simpson',)]

* Who is our most profitable customer

* Who is the most profitable bartender