# Python and SQL

### Introduction

So far, we have learned the fundamentals of SQL by writing code in `.sql` files and executing these files in the terminal.  Now, if we would like to eventually use that data with a Python codebase, we need to change a little bit about how we operate.  

Going forward, we'll use a *Python library* called `sqlite3` to execute our SQL calls, and sqlite3 will return our information in Python.

### SQL and Python

So we'll use the Python library `sqlite3` to execute our SQL calls.  Let's set out as our first task, using the sqlite3 library to select all of the employees from our `mean_green.db` database.

So to select our employees, we will need to do the following: 
    
1. Install the `sqlite3` Python library
2. Then use the library to connect to our database
3. Once connected, execute a query on our database

Let's learn how to do each of these tasks.

### Guided by the documentation

Our first step is to install the relevant python library with `pip install sqlite3`.  Once we do that, step one is done.

So all that's left is using the library to connect to our database and then executing a query on our database.  For these steps, we can look to the [sqlite3 documentation](https://docs.python.org/2/library/sqlite3.html).

<img src="./sqlite3-documentation.png" width="80%"/>

Now, looking at the documentation, it says "To use the module..." we must first:

> create a Connection object that represents the database.

And below we can see the code to do that.  So we simply copy and paste the code from the documentation and replace the `example.db` database with our `mean_green.db`.

In [2]:
import sqlite3
conn = sqlite3.connect('mean_green.db')

As mentioned in the documentation, this connection represents our database.  Continuing with the documentation, we next need to create a `cursor` object by running `conn.cursor()` and storing the return value in a variable.

In [3]:
cursor = conn.cursor()

The cursor object is how we execute our sql statements against the connected database.  We can do this by calling the `cursor.execute` method with the related sql statement as an argument.  For example, we can do the following to create a table in our database.

In [5]:
sql = """CREATE TABLE employees (
    name TEXT,
    zipcode TEXT
);"""

In [6]:
cursor.execute(sql)

So above we assigned a sql string to the Python variable SQL, and executed this string by passing it as an argument to the `cursor.execute` method.  The `execute` method call just stages our create table command.  To run this command, we need to commit our staged commands.

In [8]:
conn.commit()

Ok, so now we have new table in our database.  We can now query this table, with the following code.

In [9]:
cursor.execute('select * from employees;')

In [10]:
cursor.fetchall()

[]

So `cursor.execute` was used to specify our query, and `cursor.fetchall()` returned all of the results of our query.  In this case, we have no entries in our employees table so `fetchall` returns an empty list.

So to execute code in SQL we simply use the `cursor.execute` command.  If our sql statement is a query like a select statement, we then we retrieve the results with `fetchall`.  If the sql statement changes our database, like a create table command, then we follow our `cursor.execute` method with `conn.commit` to execute the command.

### Summary

In this lesson, we learned about how to use the `sqlite3` Python library to execute our SQL statements.  We saw that to do so, we connect to our database with `sqlite3.connect` and then use the connection object to create a cursor with `cursor = conn.cursor()`.  Now we can execute our SQL methods with `cursor.execute`.  If our sql command changes the database like, creating a table, we follow the `cursor.execute` method call with `conn.commit`.  If however, our sql command is asking questions of the database, with a select statement, we follow our `execute` method call with `cursor.fetchall` to return all of the values of that query.