# Creating Tables Lab

### Introduction

Mean green is a burgeoning salad shop that has been growing in popularity since opening this past year.  It wants to use SQL to keep track of the ingredients it needs to order, and what is involved in each salad, and its employees.  Let's help them get started by creating a couple of tables in their database.

#### Data Types


So far we have only worked with two of the most common datatypes: Integer and Text.  You can view a list of other common data types [here](https://www.w3schools.com/sql/sql_datatypes.asp). When determining what data type to use for a column, we need to think not just about what the data represents (i.e. a number), but also how we may want to manipulate and organize that data. Our name column really only has one data type that would work, TEXT. But it isn't always this simple. For example, our column phone_number is being stored as TEXT, but it could also be stored as an integer. Storing data as an integer could be helpful if we wanted to compare the size of integers, or if we wanted to perform certain mathematical calculations on the data (i.e. the mean). Since we don't compare phone numbers in that way (we probably aren't interested in the average phone number or the sum of phone numbers), in this case, it makes more sense to store it as text.

One new data type that will be introduced below is Date, which comes in the format YYYY-MM-DD. This data type allows us to perform certain operations on the data that are helpful when dealing with dates.

### Creating an Ingredients Table

Let's practice creating a table in our salad shop database in our SQLite shell. 

First create the database `sqlite3 saladshop.db`

After we have created the database, we can begin to add tables.

Remember our syntax for creating a table in the database:
```sql
CREATE TABLE _____ (______);
```

Our new table, named ingredients, will have the following columns and data types:

* Ingredient name - TEXT
* Cost per ounce - FLOAT
* Calories per ounce - INTEGER
* Expiration date - DATE


Hint: Remember to include an id column using Integer Primary Key Autoincrement

To make sure you have created the table, look at `.tables` in the SQLite shell 
to ensure Ingredients is in our database.

### Creating an employees table

Let's add another new table to our database, one that will store information about the employees.

Notice below how we store zip code and phone number as TEXT and not as INTEGER. As mentioned above, we are probably not going to want to perform mathematical operations on these two columns, so here it makes sense to store them as TEXT.

* Employee name - TEXT
* Employee position - TEXT
* Employee start date - DATE
* Employee home zip code - TEXT
* Employee phone number - TEXT

Once again, to make sure you have created the table, look at `.tables` to ensure employees is in our database.

### Conclusion

During this lab we created two new tables in our salad shop database using the CREATE TABLE function. We created these tables to store information about the ingredients and employees of our shop. When creating the tables, we specified what columns to include, as well as their associated data types. We are now ready to begin adding data to the tables.